include versioneer.py
include src/openscm_runner/_version.py
global-include src/openscm_runner/adapters/ciceroscm_adapter/utils_template/*.txt 
include src/openscm_runner/adapters/ciceroscm_ciceroscm_adapter/utils_template/run_dir/scm_vCH4fb